In [9]:
import pandas as pd
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split

In [2]:
# df = pd.read_csv('F:\\Competitions\\BPI\\data\\data.csv')

# # df_q2 = df[['case', 'event', 'year', 'startTime', 'applicant', 'department', 'doctype', 'subprocess', 'number_parcels',
# #            'young farmer', 'small farmer', 'area', 'redistribution',
# #            'penalty_B3', 'penalty_B4', 'penalty_B5', 'penalty_B5F', 'penalty_B6', 'penalty_B16', 'penalty_BGK', 'penalty_BGKV',
# #            'penalty_C16', 'penalty_JLP3', 'penalty_V5',
# #            'amount_applied0', 'amount_applied1', 'amount_applied2', 'amount_applied3',
# #            'penalty_amount0', 'penalty_amount1', 'penalty_amount2', 'penalty_amount3',
# #            'payment_actual0', 'payment_actual1', 'payment_actual2', 'payment_actual3', 'rejected']]

# df_q2 = df[['case', 'department', 'number_parcels', 'young farmer', 'small farmer', 'area', 'redistribution',
#            'penalty_B3', 'penalty_B4', 'penalty_B5', 'penalty_B5F', 'penalty_B6', 'penalty_B16', 'penalty_BGK', 'penalty_BGKV',
#            'penalty_C16', 'penalty_JLP3', 'penalty_V5', 'rejected']]

# df_q2 = df_q2.drop_duplicates(subset='case')
# df_q2 = df_q2.fillna(0)
# df_q2['severe'] = df_q2['penalty_B3'] | df_q2['penalty_B4'] | df_q2['penalty_B5'] | df_q2['penalty_B5F'] | df_q2['penalty_B6'] | df_q2['penalty_B16'] | df_q2['penalty_BGK'] | df_q2['penalty_BGKV'] | df_q2['penalty_C16'] | df_q2['penalty_JLP3'] | df_q2['penalty_V5']
# df_q2.to_csv('F:\\Competitions\\BPI\\data\\data_q2.csv')

# del df, df_q2
# import gc
# gc.collect()

In [3]:
df_q2 = pd.read_csv('F:\\Competitions\\BPI\\data\\data_q2.csv')

df_q2_core = df_q2[['severe', 'department', 'number_parcels', 'young farmer', 'small farmer', 'area', 'redistribution']]
bools = df_q2_core.select_dtypes(include='bool').columns.tolist()
df_q2_core.loc[:, bools] = df_q2_core.loc[:, bools].astype(int)

C:\Users\geral\Anaconda3\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [4]:
with pd.option_context('display.max_columns', None):
    display(df_q2_core[df_q2_core['severe'] == True][:5])

,severe,department,number_parcels,young farmer,small farmer,area,redistribution
17,1,e7,9,1,0,29.7884,1
21,1,d4,2,0,0,2.5153,1
25,1,4e,15,0,0,32.1291,1
54,1,4e,9,0,0,32.1291,1
66,1,4e,13,0,0,32.1291,1

In [ ]:
df_q2_core = df_q2_core.sample(frac=1).reset_index(drop=True)